*{
    margin: 0;
    padding: 0;
}

.navBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(199, 127, 45);
    border-radius: 0px 0px 5px 5px;
}

.tag-Container {
    position: absolute;
    left: 3%;
    padding: 5;
}

.tag-Container a {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 1rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 1.5rem;
    filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.2));

    color: rgb(255, 255, 255);
}

.tag-Container:last-child{
    padding-right: 0;
}

.tag-Container a:hover {
    color: rgb(62, 76, 77);
}
